<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MCL Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>572A876719C070ED00F62F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A157151593475000AA6445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57B8B2251593398E0030B619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
