*.o
*.DS_Store
MCL.xcodeproj/project.xcworkspace/xcshareddata/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
libmcl.a
mcltest
missing
src/.deps/
src/.dirstamp
src/lib/.deps/
src/lib/.dirstamp
src/targets/.deps/
src/targets/.dirstamp
stamp-h1
test/.deps/
test/.dirstamp