[submodule "AudioFile"]
	path = libs/AudioFile
	url = git@github.com:adamstark/AudioFile.git
[submodule "libmysofa"]
	path = libs/libmysofa
	url = git@github.com:enzodesena/libmysofa.git
[submodule "libs/boost"]
	path = libs/boost
	url = git@github.com:boostorg/boost.git
