<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SAL Sound Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SAL Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>570893D21593993500C03A2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>572A877F19C0712500F62F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A156C41593457600AA6445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A1574415934AEC00AA6445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57B054751D6B361300202654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
